body {
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ya no al centro vertical */
  min-height: 100vh;
  margin: 0;
  padding-top: 15vh; /* Espacio superior */
}

.LoginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-height: 500px;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 6%;
  font-size: 2.5em;
}

#experience{
  color: rgb(255, 255, 255);
  margin: 3%;
  padding: 1.5%;
  text-align: center;
  border-color: black;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 5px;
  padding-bottom: 7px;
  font-family: inherit;
  
}

#experience:hover{
  background-color: rgb(114, 164, 255);
  border-color: #000000;
  transition: background-color 0.5s;
  cursor: pointer;
}

input{
  margin: 2%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fffbfb;
  color: rgb(0, 0, 0);
}

#footerLoginCard{
  margin:5%;
}

.management-card {
  position: fixed; /* Fija el componente sobre todo */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el centrado */
  z-index: 1000; /* Asegura que esté por encima de todo */
  background-color: white; /* Fondo blanco */
  padding: 30px;
  max-width: 600px;
  width: auto;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.management-overlay {
  position: fixed; /* Cubre toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Debajo del formulario pero encima del resto */
}

.graph{
  background-color: yellowgreen;
}

.controls-container {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  right: 2cm; /* Posiciona a 2 cm de la derecha */
  transform: translateY(-50%); /* Ajusta el centrado vertical */
  width: 300px; /* Ancho fijo para el contenedor */
  background-color: #f9f9f9; /* Fondo claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.controls {
  margin-bottom: 20px;
}

.routes-container {
  margin-top: 20px;
}

.route-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-card h3 {
  margin-bottom: 10px;
}

.route-card p {
  margin: 5px 0;
}

.route-card button {
  margin-top: 10px;
}